*.iml
.gradle
/local.properties
.idea
/.idea
.idea/*
.DS_Store
/build
build
build/*
/captures
.externalNativeBuild
/examples/hello_ar_java/.idea
/examples/hello_ar_java/.gradle
/examples/hello_ar_java/app/build
/app/build
examples/hello_ar_java/local.properties
arcore-location/build
arcore-location/build/*
/arcore-location/build
/arcore-location/build/*
.idea/misc.xml
.idea/modules.xml
